{% url 'home' as home_url %}
<!--{% url 'contact' as contact_url %}-->
{% url 'products:list' as product_list_url %}
{% url 'register' as register_url %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% url 'cart:cart_home' as cart_url %}
{% url 'categories:cats' as category_list_url %}
{% load staticfiles %}




<style>


    ul li a:hover{
        color: #fff;
        background: #939393;
    }
    ul li ul.dropdown{
        min-width: 100%; /* Set width of the dropdown */
        background: #f2f2f2;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
    }
    ul li:hover ul.dropdown{
        display: block; /* Display the dropdown */
    }
    ul li ul.dropdown li{
        display: block;
    }
</style>



<div class="navbar-fixed ">
  <nav class="teal lighten-2" >
    <div class="nav-wrapper">
      <a class="navbar-brand" href="{{ home_url }}"><img src="{% static 'images/logo/logo.png' %}" alt="Norway"></a>
      <ul class="right hide-on-med-and-down">
        <li>{% include 'search/snippets/search_form.html' %}</li>
      </ul>
    </div>
  </nav>
</div>

<div class="navbar-fixed ">
  <nav class=" teal lighten-2" style="text-align:center;">
    <div class="nav-wrapper" style="padding-left:200px; padding-right:60px;" >
      <ul class=" hide-on-med-and-down"  >
         <li class="nav-item {% if request.path == home_url %} active {% endif %}">
        <a class=" white-text nav-link" href="{{ home_url }}">Home<span class="sr-only">(current)</span></a>
      </li>
        <ul>
        <li style="margin-top:9px;">
            <a href="#" title="Find Products Based On category">Products &#9662;</a>
            <ul class="dropdown teal">
              {% for category in categories %}
                <li class=" nav-item {% if request.path == category_list_url %}  active {% endif %}"><a href="/categories/{{ category.name}}">{{ category.name }}</a></li>
              {% endfor %}
              <li class=" nav-item {% if request.path == product_list_url %}  active {% endif %}" style="margin-top:-5px;">
                <a class=" white-text nav-link" href="{{ product_list_url }}">All Products</a>
              </li>
            </ul>
        </li>

    </ul>

      <li class="nav-item {% if request.path == contact_url %} active {% endif %}">
        <a class=" white-text nav-link" href="{{ contact_url }}">Contact</a>
      </li>

      <li class="nav-item {% if request.path == cart_url %} active {% endif %}">
          <a class=" white-text nav-link" href="{{ cart_url }}"> Cart <b class="orange-text text-lighten-2">{{ request.session.cart_items }}</b></a>
      </li>


    {% if request.user.is_authenticated %}
      <li class=" right nav-item {% if request.path == logout_url %} active {% endif %}">
          <a class="  white-text nav-link" href="{{ logout_url }}">Logout</a>
      </li>
        <li class=" right nav-item {% if request.path == login_url %} active {% endif %}">
          <a class="white-text nav-link" href="#">
            <b class="orange-text text-darken-4 text-capitalize">{{request.user.username}}</b>
          </a>
      </li>
    {% else %}
      <li class=" right nav-item {% if request.path == register_url %} active {% endif %}">
          <a class="white-text nav-link" href="{{ register_url }}">Register</a>
      </li>
      <li class=" right capitalize">
          <a class="white-text nav-link" href="{{ login_url }}">Login</a>
      </li>

      {% endif %}
      </ul>
    </div>
  </nav>
</div>







