{% extends "base.html" %}

{% block content %}



<div class="row">
  <div class="col-sm-4 mx-auto card hoverable z-depth-3">
  <p class="pull-center orange-text text-darken-4 ">{{ title }}</p>
    <form class="contact" method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ form }}
        </div>
        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-primary pull-right">
        </div>
    </form>
  </div> 
</div>



{% endblock %}
