<form class="contact" method="POST" action='{% if action_url %}{{ action_url }}{% else %}{% url "login" %}{% endif %}'>
    {% csrf_token %}

    {% if next_url %}
    <input type="hidden" name="next" value="{{ next_url }}">
    {% endif %}

    {% if address_type %}
    <input type="hidden" name="address_type" value="{{ address_type }}">
    {% endif %}
    
    <div class="form-group">
        {{ form.as_p }}
    </div>
    <div class="form-group">
        <input type="submit" value="confirm" class="btn btn-primary ml-5">
    </div>
</form>