{% load staticfiles %}



<html lang="en">
<head>
<!-- Required Meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href='{% static "css/main.css" %}'>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/matcss/materialize.min.css' %}" rel="stylesheet">


	<title>Home</title>
</head>
<body>
	{% include 'base/navbar.html' %}



	{% block content %}{% endblock %}

	{% include 'base/css.html' %}

	{% include 'base/js.html' %}

	{% include 'base/footer.html' %}


	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/matjs/materialize.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/matjs/default' %}"></script>
	<script type="text/javascript" src="{% static 'default' %}"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{% static 'script/jsmain.js' %}"></script>



<!--	All My Jquery Codes-->

	<script>
		$(function(){
			var price = $("#quanDet").val();
			var quantity = $("#quant").val();
			var res = price * quantity;
			$("#nill").click(function(){
				alert(quantity);
				return false;
			});

			$("#quant").on('change', function(){
				var qty = $(this).val();
				var price = $("#myprice").val();
				var total = qty * price;
				var shipCost =
				$("#priceI").text("FCFA "+ total);
				$("#priceII").text("FCFA "+ total);
				$("#priceIII").text("FCFA "+ total);
				$("#priceIIII").text("FCFA "+ total);
			});

		});


	</script>

</body>
</html>