{% load staticfiles %}
{% load static %}


<html lang="en">
<head>
<!-- Required Meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href='{% static "css/main.css" %}'>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/matcss/materialize.min.css' %}" rel="stylesheet">


	<title>Home</title>
</head>
<body>
	{% include 'base/navbar.html' %}



	{% block content %}{% endblock %}

	{% include 'base/css.html' %}

	{% include 'base/js.html' %}

	{% include 'base/footer.html' %}

	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
	 <script type="text/javascript" src="{% static 'js/matjs/materialize.min.js' %}"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
	<script>
		$(document).ready(function(){

			$('.parallax').parallax();
		});




		$(document).ready(function(){
  $('.carousel').carousel(
  {
    dist: 0,
    padding: 0,
    fullWidth: true,
    indicators: true,
    duration: 100,
  }
  );
});

	autoplay()
	function autoplay() {
		$('.carousel').carousel('next');
		setTimeout(autoplay, 4500);
	}



	</script>

</body>
</html>