{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="container">
    <div class="row mt-2 ">
        <h4 class="orange-text text-darken-4" style="margin-left:400px; margin-right:150px; ">Products Under {{ category.name }}</h4>
    </div>
    <div class="divider mb-3"></div>
</div>
<div class="container">
	<div class="row">

		{% for product in allProducts %}
		  {% if product.published %}
		<div class="row card hoverable" id="products">
            <div class="col-12">
                <div class="col-sm-4">
                    {% if product.image %}
                <div class="card-image waves-effect waves-block waves-light">
			    <a href="/products/{{ product.slug}}"><img width="100px" height="200px" src="{{ product.image.url}}" class="img-fluid my-4">
               </a>
                </div>
                   {% endif %}
                </div>
                <div class="col-sm-8">
                     <h2 class="card-title mt-4 text-darken-4" style="margin-left:50px;">{{ product.title}}</h2>
                    <div class="divider"></div>
                    <div class="col-sm-8 mt-2">
                        <h4 class="orange-text" > FCFA{{ product.price}}</h4>
                        <p style="text-align:justify">{{ product.description | truncatewords:50}}</p>
                        <a  href="/products/{{product.slug}}" class="btn btn-danger white-text pull-right my-4">View Details<i class="material-icons prefix">visibility</i></a>
                    </div>
                </div>
            </div>
        </div>
		  {% endif %}
		{% endfor%}
	</div>
    {% if allProducts.has_other_pages %}
      <ul class="pagination right">
        {% if allProducts.has_previous %}
          <li><a href="?page={{ allProducts.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in allProducts.paginator.page_range %}
          {% if allProducts.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if allProducts.has_next %}
          <li><a href="?page={{ allProducts.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}
</div>



{% endblock %}






